@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h2>@User.Identity.Name</h2>
<ul>
    @foreach(var c in User.Claims)
            {
                <li>@c.Type : @c.Value</li>
            }
</ul>
